<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="co.otaoto"
    >

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="false"
        android:defaultToDeviceProtectedStorage="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="UnusedAttribute"
        >
        <activity
            android:name=".secret.SecretActivity"
            android:autoRemoveFromRecents="true"
            android:persistableMode="persistNever"
            android:windowSoftInputMode="stateUnchanged|adjustResize"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewActivity"
            android:autoRemoveFromRecents="true"
            android:label="@string/view_title"
            android:persistableMode="persistNever"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="@string/url"
                    android:scheme="https"
                    />
            </intent-filter>
        </activity>
        <activity
            android:name=".confirm.ConfirmActivity"
            android:autoRemoveFromRecents="true"
            android:persistableMode="persistNever"
            />
    </application>

</manifest>
